<div class="calc-body">

    <!-- Calculator Display Screen -->
    <div class="calc-screen">
        <div id="calc-operation">Output:</div>
        <div id="calc-typed">{{result}}{{operator}}</div>
    </div>
    
    <!-- Calculator Function Buttons -->
    <div class="calc-button-row">
        <button class="ac" (click)="clearCalculator()">AC</button>
        <button class="opt" (click)="OperatorClick('+/-')">+/-</button>
        <button class="opt" (click)="OperatorClick('%')">%</button>
        <button class="opt" (click)="OperatorClick('/')">÷</button>
        
        <!-- Number Buttons -->
        <button (click)="NumberClick('7')">7</button>
        <button (click)="NumberClick('8')">8</button>
        <button (click)="NumberClick('9')">9</button>
        <button class="opt" (click)="OperatorClick('*')">&#215;</button>

        <button (click)="NumberClick('4')">4</button>
        <button (click)="NumberClick('5')">5</button>
        <button (click)="NumberClick('6')">6</button>
        <button class="opt" (click)="OperatorClick('-')">&#8722;</button>

        <button (click)="NumberClick('1')">1</button>
        <button (click)="NumberClick('2')">2</button>
        <button (click)="NumberClick('3')">3</button>
        <button class="opt" (click)="OperatorClick('+')">&#43;</button>

        <button (click)="NumberClick('0')">0</button>
        <button (click)="NumberClick('.')">.</button>
        <button (click)="Backspace()">&#9003;</button>
        <button class="opt" (click)="findResult()">&#61;</button>
    </div>
</div>